.App {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.mainBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  margin-top: 30px;
}

.goods {
  display: block;
}

.goodsThumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #ccc;
}

.goodsThumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.goodsInformation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.goodsBrand {
  flex-basis: 100%;
  font-size: 11px;
}

.goodsName {
  flex-basis: 100%;
  display: block;
  margin-top: 8px;
  font-weight: 700;
}

.goodsPrice {
  margin-top: 4px;
  font-weight: 700;
  font-style: normal;
}

.goodsRate {
  margin: 4px 0 0 auto;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: red;
}

.goodsDetail {
  width: 100%;
}

.goodsDetail__thumbnail {
  width: 100%;
}

.goodsDetail__thumbnail img {
  width: 100%;
}

.goodsDetail__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #eee;
}

.goodsDetail__name {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}

.goodsDetail__brand {
  margin-top: 8px;
  font-size: 11px;
}

.goodsDetail__price {
  margin-top: 4px;
  font-weight: 700;
  font-style: normal;
}

.goodsDetail__rate {
  font-weight: 700;
  font-style: normal;
  color: Red;
}

.goodsDetail__button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.goodsDetail__button button {
  flex-basis: 49%;
  height: 50px;
  padding: 0;
}

.goodsDetail__button__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #0078ff;
  background-color: white;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-size: 16px;
  color: #0078ff;
}

.goodsDetail__button__order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #0078ff;
  background-color: #0078ff;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-size: 16px;
  color: white;
}
