.App {
  width: 100%;
}

.App a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #fff;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-weight: 400;
}

.headner__gnb {
  display: flex;
  height: 100%;
  margin-left: auto;
}

.headner__gnb a {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 8px;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.mainBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
}

.mainBanner::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65) 0,
    rgba(0, 0, 0, 0.4) 100%
  );
  z-index: 5;
  content: "";
}

.mainBanner img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  padding-bottom: 30px;
  margin-top: 30px;
}

.goodsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px 4px;
}

.goods {
  display: block;
}

.goodsThumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #fff;
}

.goodsThumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.goodsInformation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.goodsBrand {
  flex-basis: 100%;
  font-size: 11px;
}

.goodsName {
  flex-basis: 100%;
  display: block;
  margin-top: 8px;
  font-weight: 700;
}

.goodsPrice {
  margin-top: 4px;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goodsRate {
  margin: 4px 0 0 auto;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: red;
}

.goodsButtonMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  padding: 0;
  margin: 40px auto 0;
  border-radius: 4px;
  background-color: black;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-size: 14px;
  color: white;
}

.goodsDetail {
  width: 100%;
}

.goodsDetail__alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40px;
  margin: 5px auto;
  border-radius: 6px;
  background-color: pink;
  font-size: 11px;
}

.goodsDetail__thumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.goodsDetail__thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.goodsDetail__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #eee;
}

.goodsDetail__name {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}

.goodsDetail__brand {
  margin-top: 8px;
  font-size: 11px;
}

.goodsDetail__price {
  margin-top: 4px;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goodsDetail__rate {
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: Red;
}

.goodsDetail__button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.goodsDetail__button button {
  flex-basis: 49%;
  height: 50px;
  padding: 0;
}

.goodsDetail__button__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #0078ff;
  background-color: white;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-size: 16px;
  color: #0078ff;
}

.goodsDetail__button__order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #0078ff;
  background-color: #0078ff;
  font-family: Musinsa, "-apple-system", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", helvetica, Gulim, sans-serif;
  font-size: 16px;
  color: white;
}
